body{
    background-color: #A3D8F4;
}
h1{
    color: #2C3E50;
}
#title{
    color: #182e44;
}
/* Input Fields */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"] {
    background-color: #FFFFFF; 
   
    color: #333333; 

}
input[type="submit"]:hover {
    background-color: #9d7ed6; 
}
