p{
    background-color: aqua;
}
input{
    background-color: black;
}

a{
    background-color: blue;
}

span{
    background-color: chartreuse;
}

div{
    background-color: antiquewhite;
}